{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="adminmessage">
    {{ message }}
    <p>
</div>

<form action="/admin" method="POST" >
    Delete user by typing in their username: <input type="text" name="username">
    <p>Deleting a user will delete all of their messages and threads</p>
    <p>
    Delete a thread by typing in thread topic: <input type="text" name="thread">
    <p>
    <input type="submit" value="Delete">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}

