<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Frontpage{% endblock %}

<body>
 {% block content %}
 <div class="introtext">
    text text text text text text text text text text text text
 </div>
 
 <div class="newthreadbutton">
		<a href="/newthread">
			<button type="button">Create a new thread</button>
		</a>
	</div>

  <div class="threads">
		<h2>Threads</h2>
	</div>

  <!--SELECT id, topic, userid, createdat-->
    
    {% for thread in threads %}
    <div class=threadblock>
      <p>
      Thread:  <a href="/thread/{{ thread.id }}"> {{ thread.topic }} </a>
      <p>
      Created at:  {{ thread.createdat }}
      <p>
      Creator: {{ thread.username }}
      <p>
    </div> 
    {% endfor %}   
  
</p>
<div class="logout">
  You can logout <a href="/logout">here</a>
</div>
{% endblock %}
</body>
