<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Cat Forum</title>
<div class= "container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">Cat Forum</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"> frontpage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> vote </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-8">
            <h1>Cat Forum</h1>
            <p>
            text text text text
            <p>
        </div>
        <div class="col-4">
            <h2>Find by tags</h2>
            <p>
                tags tags tags
            </p>
            <form>
                <div class="form-group col-4">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername">
                </div>
                <div class="form-group col-4">
                    <label for="inputPassword">Password</label>
                    <input type="text" class="form-control" id="inputPassword">
                </div>
                <div class="form-group col-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group col-4">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
