<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Frontpage{% endblock %}

<body>
  
 {% block content %}
 {% if session.userid %}
 <div class="loggedin">
     You are logged in as: {{ session.username }}
 </div>
{% endif %} 

 
 <div class="introtext">
   Welcome to the Cat Forum, here you can talk about everything related to cats. Have a look at the threads down below or create your own. 
   Don't forget to vote for your favourite cat.
 </div>

 
  <div class="threads">
		<h2>Threads</h2>
	</div>

  <div class="howmanytopics">
    <p>
      There are {{ count }} topics on the site. 
      The most commented thread is: <a href="/thread/{{ mostmessages[0].id }}" > {{ mostmessages[0].topic }} </a>
    </p>
  </div>

<div class="search">
  <form action="/searchresult" method="GET">
    Search by: <input type="text" name="query">
    <br>
    <input type="submit" value="Search">
    </form>    
</div>

<div class="newthreadbutton">
  <a href="/newthread">
    <button type="button">Create a new thread</button>
  </a>
</div>

<form action="/selectnumber" method="POST">
  <label for="choosenumber">How many threads per page:</label>
   <Select name="number">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
   </Select>
   <input type="submit" value="Update">
   <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>
<br>
  {% for thread in threads %}
  <div class=threadblock>
    <p>
    <a href="/thread/{{ thread.id }}"> {{ thread.topic }} </a>
    <p>
    {{ thread.preview }}
    <p>
    <div class="smallerinfo">
      Created at:  {{ thread.createdat.strftime("%d-%m-%Y at %H:%M") }}
      <p>                                         
      Creator: {{ thread.username }}
      <p>
      Tags: {{ thread.tags }}
    </div>
 </div> 
{% endfor %}   
{{ showmore }}
</p>
<div class="logout">
  You can logout <a href="/logout">here</a>
</div>
{% endblock %}
</body>
