<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Frontpage{% endblock %}

<body>
 {% block content %}
 <div class="introtext">
    text text text text text text text text text text text text
    <p>
      There are {{ count }} topics on the site
    </p>
    <p>
      The most commented thread is: <a href="/thread/{{ mostmessages[0].id }}" > {{ mostmessages[0].topic }} </a>
    </p>
 </div>
 
 <div class="newthreadbutton">
		<a href="/newthread">
			<button type="button">Create a new thread</button>
		</a>
	</div>

  <div class="threads">
		<h2>Threads</h2>
	</div>

<div class="search">
  <form action="/searchresult" method="GET">
    Search by: <input type="text" name="query">
    <br>
    <input type="submit" value="Search">
    </form>    
</div>


<form action="/selectnumber" method="POST">
  <label for="choosenumber">How many threads per page:</label>
   <Select name="number">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
   </Select>
   <input type="submit" value="Update">
   <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>
{{ session.number }}
  
  {% for thread in threads %}
  <div class=threadblock>
    <p>
    Thread:  <a href="/thread/{{ thread.id }}"> {{ thread.topic }} </a>
    <p>
    Preview: {{ thread.preview }}
    <p>
    Created at:  {{ thread.createdat.strftime("%d-%m-%Y at %H:%M") }}
    <p>                                         
    Creator: {{ thread.username }}
    <p>
    Tags: {{ thread.tags }}
 </div> 
{% endfor %}   
{{ showmore }}
</p>
<div class="logout">
  You can logout <a href="/logout">here</a>
</div>
{% endblock %}
</body>
