<!doctype html>
<title> Cat Forum - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/styles/style.css" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<p>
    <div class="header">
        <div class="catforum">
            <h1>Cat Forum</h1>
        </div>
    </div>
 
    <nav>
      <ul>
        <li><a href="/">frontpage</a></li>
        <li><a href="/vote">vote</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/admin">admin page</a></li>
    </ul>
    </nav>
{% block content %}{% endblock %}
<p>
