{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% if session.userid %}
<div class="loggedin">
    <p>You are logged in as: {{ session.username }}</p>
    <a href="/logout">Log out</a>
</div>
<div class="loginclass">
    {% else %}
    <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username"></p>
    <label for="password">Password:</label>
    <input type="password" name="password"></p>
    <input type="submit" value="Login">
    <!--input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"-->
    <p>
    </form>
</div>

<div class="registerifnot">
    If you don't have an account, you can create one <a href="/register">here</a>
    {% endif %}   
</div>


{% endblock %}