{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% if session.userid %}

<div class="newthreadmessage">
    Create a new thread by sending the first message:
</div>

<form action="/send" method="POST">
    Message:<br>
    <textarea name="content" rows="5" cols="50"></textarea>
    <br>
    Add a tag:
    <p>
    <!-- add functionality to add a tag-->
    <input type="submit" value="Send the first message">
</form>

{% else %}
<div class="newthreadlogin">
    Login <a href="/login">here</a>  before sending a message
</div>

{% endif %}
{% endblock %}