{% extends "layout.html" %}
{% block title %}Threa{% endblock %}

{% block content %}

<div class="threadtopic">
    {{ threadtopic }}
<p>
</div>

{% for message in messages %}
    <div class="threadmessages">
        <ul>
            Message:
            <label id="message">{{ message.message }}</label>
            <p>
                {% if message.picturedata != None %}
                    <img src="data:image/jpeg;base64, {{ message.picturedata }} "><img>
                {% endif %}
                <p>        
            <label id="username">Sent by: {{ message.username }}</label>
            <p>
            <label id="sentat">{{ message.sentat }}</label>
        </ul>
    </div>
    {% endfor %}
    <hr>    


{% if session.userid %}
<form action="/thread/{{threadid}}" method="POST" enctype="multipart/form-data" onsubmit="return check(this)">
    <p>Add a new message to thread: {{ threadid }}<p>
    <textarea name="sentmessage" rows="5" cols="50"></textarea>
    Add a photo: <input type="file" name="photo">
    <p>
    <input type="submit" value="Send">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>


<script>
    function check(form) {
        if (form.sentmessage.value.length>2000){
            alert("The message is too long");
            return false;
        }
        if (form.sentmessage.value.length<2){
            console.log('hello')
            alert("The message is too short");
            return false;
        }
        return true;
    }
</script>


{% else %}

<br>
You can only send a message if you're a registered user.
If you don't have an account, you can create one <a href="/register">here</a>
{% endif %}

<hr>
<a href="/">Return to frontpage</a>

{% endblock %}