{% extends "layout.html" %}
{% block title %}Vote{% endblock %}

 {% block content %}
<div class="voteblock">
    <p>
        Vote for the cutest cat:
    </p>
</div>

<div class="votephotos">
    <image src="/static/images/Leonardo.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/Michelangelo.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/Raphael.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/Donatello.jpg" style="float: left; width: 25%;"></image>
    <p style="clear:both;"></p>
</div>

<div class="catchoices">
    <form action="/vote" method="POST">
        <input type="radio" name="answer" value="Leonardo"> Eka kissa  
        <input type="radio" name="answer" value="Michelangelo"> Toka kissa
        <input type="radio" name="answer" value="Raphael"> Kolmas kissa
        <input type="radio" name="answer" value="Donatello"> Neljäs kissa
        <br>
        <input type="submit" value="Vote">

    </form>
    <hr>
</div>

<a href="/">Go back to front page</a>


{% endblock %}