{% extends "layout.html" %}
{% block title %}Vote{% endblock %}

 {% block content %}
<div class="voteblock">
    <p>
        Vote for the cutest cat:
    </p>
</div>

<div class="votephotos">
    <image src="/static/images/votecat1.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/votecat4.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/votecat3.jpg" style="float: left; width: 25%;"></image>
    <image src="/static/images/votecat2.jpg" style="float: left; width: 25%;"></image>
    <p style="clear:both;"></p>
</div>
<div class="catchoices">
    <form action="/vote" method="POST">
        <input type="radio" name="answer" value="votecat1"> Eka kissa  
        <input type="radio" name="answer" value="votecat2"> Toka kissa
        <input type="radio" name="answer" value="votecat3"> Kolmas kissa
        <input type="radio" name="answer" value="votecat4"> Neljäs kissa
        <br>
        <input type="submit" value="Vote">
    <!--input type="hidden" name="userid" value="{{ userid }}"-->
    </form>
    <hr>
</div>

<a href="/">Go back to front page</a>


{% endblock %}